*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-bg{
    background-color: rgb(0, 81, 255);
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

header nav div div ul{
    font-size: 20px;
    margin: 20px;
}

section h1{
    text-align: center;
    font-size: 50px;
    margin: 30px;
    color: blue;
}

section div{
    width: 250px;
    height: 200px;
    border: 2px solid;
    margin: 20px;
    text-align: center;
    margin: auto;
}

section div h2{
    font-size: 25px;
    margin-top: 10px;
}

section div button{
    font-size: 20px;
    margin: 40px;
}